<h1>
  Shopping Cart
</h1>
<ng-container>
  <p class="headerShoppingCart">
    You have
    <span class="badge badge-pill badge-warning"> {{shoppingCartItemsCount}} </span>
    items in your shopping cart.
    <span class="float-right">
      <button class="btn btn-outline-danger btn-sm" *ngIf="dataCart.length" (click)="clearShoppingCart()">Clear Shopping Cart</button>
    </span>
  </p>

  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th style="width: 100px"></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataCart">
        <td>
          <div [style.backgroundImage]="'url('+item.product.imageUrl+')'" [title]="item.product.title" class="thumbnail"></div>
        </td>
        <td> {{item.product.title}} </td>
        <td>
          <app-product-quantity [shoppingCart]="dataShoppingCart" [product]="item.product"></app-product-quantity>
        </td>
        <td class="text-right"> {{item.totalPrice | currency: 'USD'}} </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right"> {{cartTotalPrice | currency: 'USD'}} </th>
      </tr>
    </tfoot>
  </table>
  <a class="btn btn-outline-warning btn-sm" *ngIf="dataCart.length" [routerLink]="['/check-out']">Check out</a>
</ng-container>