<div class="card" style="width: 24rem;">
  <img class="card-img-top" [src]="product.imageUrl || ''" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"> {{product.title}} </h5> 
    <p class="card-text">{{product.price | currency: 'USD'}}</p>
  </div>

  <div class="card-footer" *ngIf="showAction">
    <button *ngIf="quantity === 0; else updateQuantity" (click)="addToCart()" class="btn btn-primary btn-block">Add to cart</button>

    <ng-template #updateQuantity> 
      <app-product-quantity [shoppingCart]="shoppingCart" [product]="product"></app-product-quantity>
    </ng-template>
  </div>
</div>
